<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web1042</title>
    <script></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"> </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    
    <link rel="stylesheet" href="lab5.css">
    <script >
        var name = "Nguyễn Phú Hy";
        var num= "PS9395";
        var birth = "04/10/2000";
        
            </script>
</head>
<body ng-app="b2">
<div class="container">
    <header>
        <div>Môn học java cơ sở</div>
        <img src="../Javascript-shopping-cart-1.png" alt="">
    </header>
    <nav>
        <a href="../indelx.html"> Trang chủ</a>       
        <a href="Lab1/lab2.html">Lab2</a>
        <a href="Lab1/lab3.html">Lab3</a>
        <a href="Lab1/lab4.html">Lab4</a>
    </nav>
    <main>
        <article>
            <div  ng-controller="hienthi">
                <div class="caption">
                    <form>
                    <div class="form_group">
                        <label for="">Chiều dài</label>
                        <input type="text" name="" ng-model="dai" id="">
                    </div>
                    <div class="form_group">
                        <label for="">Chiều Rộng</label>
                        <input type="text" name="" ng-model="rong" id="">
                    </div>
                    <div class="form_group">
                        <label for="">diện tích</label>
                        <span>{{dientich}}</span>
                    </div>
                    <div class="form_group">
                        <label for="">chu vi</label>
                        <span>{{chuvi}}</span>
                    </div>
                    <div class="form_group">
                        <button ng-click="tinhtoan()"></button>
                    </div>
                    </form>
            </div>
            <script>
                app= angular.module("b2",[]);
                app.controller("hienthi",xuly);
                function xuly($scope){
                    $scope.tinhtoan=function(){
                        var d =parseFloat($scope.dai);
                        var r =parseFloat($scope.rong);
                        $scope.chuvi=(d+r)*2;
                        $scope.dientich=(d*r);
                    }
                }
            </script>
        </article>
        <aside>
            <div class="card">
                <div class="title">Thông tin cá nhân</div>
                <div>
                    <p><span>Họ tên:</span><b id="name">
                        <script>
                            document.write(name);
                        </script>
                    </b></p>
                    <p><span>Mã SV</span><b id="num">
                        <script>
                            document.write(num);
                        </script>
                    </b></p>
                    <p><span>Ngày sinh:</span><b id="birth">
                        <script>
                            document.write(birth);
                        </script>
                    </b></p>
                </div>
                <a href="bai1.html">bài 1</a>
                <a href="bai2.html">bài 2</a>
                <a href="bai3.html">bài 3</a>
                <a href="bai4.html">bài 4</a>
                <a href="bai5.html">bài 5</a>
                <a href="bai6.html">bài 6</a>
                <a href="bai7.html">bài 7</a>
                <a href="bai8.html">bài 8</a>
        
            </div>
        </aside>
    </main>
  
    <footer>
        <p>được thiết kế bởi <em id="author"></em><br  />&COPY;2021</p>
    </footer>
</div>
<script>
    document.getElementById("author").innerHTML=name;
</script>
</body>
</html>